<div class="b-line"></div>
<div class="userInfo" id="addressShow">
	<div class="mui-row">
		<div class="mui-col-xs-12">
			<div class="vertical-base" style="height:80px;margin-left: 10px;">
				<div class="vertical-inner">
					<div><span>接收人:<span id="contactName"></span></span><span class="mui-pull-right" style="margin-right: 30px;" id="phone"></span></div>
					<div>
						<p style="font-size: 14px;">详细地址:<span id="contactAddress"></span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

