<div class="mui-card ">
	<div class="mui-card-content">
		<span class="card-title">求带信息</span>
		<div class="card-line"></div>
		<div class="mui-card-content">
			<div class="mui-row mui-row-place">
				<div class="mui-col-xs-5">
					<div><span id="departureCity"></span><span>-</span><span id="departureCountry"> </span></div>
				</div>
				<div class="mui-col-xs-2" style="vertical-align: middle;">
					<img src="../../images/buying/plane.png" style="width: 40px; height: 20px;margin-top: 5px;" />
				</div>
				<div class="mui-col-xs-5">
					<div><span id="arrivalCity"></span><span>-</span><span id="arrivalCountry"></span></div>
				</div>
			</div>
			<div class="mui-row mui-row-inner">
				<div class="mui-col-xs-5">
					<img src="../../images/buying/date.png" style="margin-top: 5px;" />
					<span id="deadline"></span><span>截止</span>
				</div>
			</div>
			<div class="mui-row mui-row-inner">
				<div class="mui-col-xs-4">
					<img src="../../images/icon/type.png" style="width: 20px; height: 20px;margin-top: 5px;" /> 
					<span id="type"></span>
				</div>
				<div class="mui-col-xs-4">
					<img src="../../images/icon/weight.png" style="width: 20px; height: 20px;margin-top: 5px;" /><span id="weight"></span> KG
				</div>
				<div class="mui-col-xs-4" style="color: red;font-size: 20px;">
					<span style="margin-left: 10px;">$<span id="negotiatePrice"></span></span>
				</div>
			</div>
		</div>
		<div class="card-line"></div>
		<div class="mui-card pruduct">
			<div class="mui-card-content">
				<div class="mui-row" style="padding: 10px">
					<div class="mui-col-sm-2">
						<div>
							<div class="green-circle"></div>
							<span>张三</span>
						</div>
					</div>
					<div class="mui-col-sm-8">
						<div class="mui-row" style="padding: 2px 0px;">
							<div class="mui-col-sm-5">
								<div><span id="departureCity-d"></span><span>-</span><span id="departureCountry-d"> </span></div>
							</div>
							<div class="mui-col-sm-2" style="vertical-align: middle;">
								<img src="../../images/buying/plane.png" style="width: 20px; height: 10px;margin-top: 5px;" />
							</div>
							<div class="mui-col-sm-5">
								<div><span id="arrivalCity-d"></span><span>-</span><span id="arrivalCountry-d"></span></div>
							</div>
							<div class="mui-row mui-row-inner">
								<div class="mui-col-xs-4">
									<img src="../../images/icon/price.png" style="width: 20px; height: 20px;margin-top: 5px;" /> 
									<span>$</span><span id="negotiatePrice"></span>
								</div>
								<div class="mui-col-xs-8" style="color: red;font-size: 20px; ">
									<span style="float: right;"><span id="status"></span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>