<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui/mui.min.css" />
		<!-- less.min.js 编译 less 为 css -->
		<!--<link rel="stylesheet/less" type="text/css" href="css/common/common.less">-->
		<link rel="stylesheet" href="../../css/base/base.css" />

		<link href="../../css/mui/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui/mui.poppicker.css" rel="stylesheet" />
		<title>冷链物流</title>
		<style>
			.mui-bar-nav {
				background-color: orange;
				color: #FFFFFF
			}
			
			a {
				color: #FFFFFF;
			}
			
			.mui-title {
				color: #FFFFFF
			}
			
			.list {
				margin-top: 60px;
			}
			
			.mui-card {
				border-radius: 10px;
			}
			
			.mui-row-place {
				text-align: center;
				font-size: 18px;
				margin-top: 5px;
			}
			
			.mui-row-inner {
				text-align: center;
				color: gray;
			}
			
			.mui-row-weight{
				color: gray;
			
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav aui-header gradient">
			<a class="mui-action-back mui-icon mui-icon-back mui-pull-left"></a>
			<h1 class="mui-title">我的帮带</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div class="mui-segmented-control" id="segmentedControl">
					<a class="mui-control-item mui-active" href="#nav_1" id="all">发布中</a>
					<a class="mui-control-item dd" href="#nav_2" id="notpayed">已完成</a>
				</div>
			</div>

			<div id="buyingList" class="list">
				<div class="mui-card">
					<div class="mui-card-content">
						<div class="mui-row mui-row-place">
							<div class="mui-col-xs-5">
								<div>大连 - 中国</div>
							</div>
							<div class="mui-col-xs-2" style="vertical-align: middle;">
								<img src="../../images/circle/pic.jpeg" style="width: 40px; height: 20px;margin-top: 5px;" />
							</div>
							<div class="mui-col-xs-5">
								<div>上海 - 中国</div>
							</div>
						</div>
						<div class="mui-row mui-row-inner">
							<div class="mui-col-xs-5">
								<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> 2018-02-02
							</div>
							<div class="mui-col-xs-2" style="vertical-align: middle;">
								<img src="../../images/circle/pic.jpeg" style="width: 40px; height: 20px;margin-top: 5px;" />
							</div>
							<div class="mui-col-xs-5">
								<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> 2018-02-02
							</div>
						</div>
						<div class="mui-row ">
							<div class="mui-col-xs-5" style="padding-left: 1.7em;" >
								<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" />5KG
							</div>
							<div class="mui-col-xs-2" style="vertical-align: middle;">
								&nbsp;
							</div>
							<div class="mui-col-xs-5" style="padding-left: 1.7em;">
								<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" />$10/KG
							</div>
						</div>
					</div>
				</div>
			</div>

			<script src="../../js/mui/mui.min.js"></script>

	</body>

</html>