<li class="mui-table-view-cell" style="width: 50%;">
	<div class="mui-card">
		<div class="mui-card-content mui-card-media">
			<img width="100%" src="" id="picUrl"/>
			<div class="mui-media-body">
				<p class="title" id="title"></p>
				<p class="describle" id="msg"></p>
			</div>
			<div class="mui-card-footer mui-card-media">
				<img width="30em" height="30em" src="../../images/circle/pic.jpeg" />
			</div>
			<div class="mui-media-body " style="text-align: left;margin-left: 5px;margin-top: 0px; ">
				<p style="font-size: 13px; " id="issuer"></p>
				<p style="font-size: 10px; " id="issueDate"></p>
			</div>
		</div>
	</div>
</li>