.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.top-5 {
	margin-top: 5px;
}

.padding-2 {
	padding-top: 8px;
	padding-left: 20px;
}

.border-circle {
	border-radius: 50%;
	overflow: hidden;
}

.margin-right-5 {
	margin-right: 5px;
}

.presc-list-height {
	height: 130px;
}

.presc-font {
	font-size: 8px;
}

.presc-status-color {
	color: red;
}

.medical-list-width {
	width: 80%;
}

.medical-list-height {
	height: 20%;
}

.medical-list-pic-midel {
	transform: translate(0%, 30%);
}

.price-color {
	color: red;
}

.p-message-clamp {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.bottom-0 {
	margin-bottom: 0px;
}

.textarea-height {
	height: 80px;
}

.presc-add-medical {
	/*height: 150px;*/
}

.medical-info-color {
	color: #FF9F9F;
}

.order-list-height {
	height: 480px;
}

.order-line {
	height: 1px;
	border: none;
	border-top: 1px dashed #1E90FF;
}

.nearsite-message {
	display: inline-block;
	clear: both;
	margin: 10px;
}

.nearsite-message .avatar {
	float: left;
}

.nearsite-message .avatar img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.nearsite-message .content {
	float: left;
	background: #fff;
	margin: 0 10px 10px 10px;
	padding: 10px;
	border-radius: 7px;
	max-width: 90%;
	position: relative;
	min-height: 20px;
	font-size: 15px;
}

.nearsite-message .content img {
	width: 100%;
}

.nearsite-message .triangle {
	height: 0px;
	width: 0px;
	border-width: 8px;
	border-style: solid;
	position: absolute;
	top: 6px;
	border-color: transparent #fff transparent transparent;
	left: -16px;
}

.vertbar {
	width: 1px;
	height: 50px;
	background-color: #a2a2a2;
	margin: -34px 25px -8px;
}

.icon-center {
	text-align: center;
	margin-top: 20px;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	vertical-align: -webkit-baseline-middle;
}

.order-line {
	height: 1px;
	border: none;
	border-top: 1px solid #555555;
}

.index-line {
	height: 1px;
	border: none;
	border-top: 1px dashed #555555;
}

.must-input {
	color: #C12E2A;
}

.mui-input-row label~input {
	float: left;
}

.mui-input-row .mui-btn {
	line-height: 2.3;
	width: 25%;
}

.presc-hospital-height {
	height: 70px;
}

.circle {
	position: fixed;
	text-align: center;
	margin-left: calc((100% - 65px));
	bottom: calc((100%)/3);
	width: 65px;
	height: 65px;
	z-index: 99;
}

.tab-center {
	display: table-cell;
	overflow: hidden;
	width: 1%;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}

.confirm-order-medical {
	height: 100px;
}

.mui-btn-outlined.mui-btn-system {
	color: #4ACBAD;
}

.mui-btn-system {
	border: 1px solid #4ACBAD;
}

.mui-bar {
	background: #4ACBAD;
}

.mui-title {
	color: #fff;
}

.mui-icon-arrowleft,
.mui-icon-left-nav {
	color: #fff;
}

.color-0 {
	color: #000;
}

.tit {
	font-size: 14px;
	color: #525050;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	margin-right: 80px;
}

.tit-contain {
	position: relative;
	padding-bottom: 4px;
}

.money-pay {
	position: absolute;
	right: 0;
	top: 0;
}

.tit-detail {
	color: #8f8f94;
}


/*.mui-table-view .mui-media-object{
	line-height: 60px;
	max-width: 60px;
	height: 60px;
}*/

.mui-input-row label {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.1;
	float: left;
	width: 30%;
	padding: 11px 0px;
}

.gray-btn {
	background-color: gainsboro;
	border-color: gainsboro;
}

.index-bar-btn {
	width: 63%;
}

.index-bar-font {
	color: #999999;
}

.index-border-left-search {
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
}

.index-border-right-search {
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
}

.gradient {

	background: #57D3BB;
}

.nav_bottom_bar {
	width: 20%;
	padding-top: 0px;
	padding-bottom: 0px;
	/* margin-bottom: 0px; */
}

input[type=search] {
	background: #ffffff url(images/icon/search-icon.png) no-repeat 9px center;
	border: solid 1px #FFFFFF;
	width: 50%;
	margin: 0px;
	margin-top: 5px;
	border-radius: 18px;
	padding-left: 30px;
	font-size: 12px;
	background-size: 14px;
}

.loading {
	width: 80px;
	height: 40px;
	margin: auto;
	margin-top: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -20px;
}

.loading span {
	display: inline-block;
	width: 8px;
	height: 100%;
	border-radius: 4px;
	background: lightgreen;
	-webkit-animation: load 1s ease infinite;
}

@-webkit-keyframes load {
	0%,
	100% {
		height: 40px;
		background: lightgreen;
	}
	50% {
		height: 70px;
		margin: -15px 0;
		background: lightblue;
	}
}

.loading span:nth-child(2) {
	-webkit-animation-delay: 0.2s;
}

.loading span:nth-child(3) {
	-webkit-animation-delay: 0.4s;
}

.loading span:nth-child(4) {
	-webkit-animation-delay: 0.6s;
}

.loading span:nth-child(5) {
	-webkit-animation-delay: 0.8s;
}

@font-face {
	font-family: simhei;
	font-weight: normal;
	font-style: normal;
	src: url('../plugin/simhei.ttf') format('truetype');
}

li {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

.gradient-me{
	background: -webkit-linear-gradient(bottom, #80FFE4, #57D3BB);
	background: -o-linear-gradient(bottom, #80FFE4, #57D3BB);
	background: -moz-linear-gradient(bottom, #80FFE4, #57D3BB);
	background: -ms-linear-gradient(bottom, #80FFE4, #57D3BB);
}