.mui-bar-nav {
	top: 0;
	box-shadow: 0 0px 0px #ccc;
	background-color: #FFFFFF;
}

.mui-bar-nav a {
	color: #000000;
}

.b-line {
	height: 15px;
	background-color: #F2F2F2;
	width: 100%;
}

.b-line-title {
	height: 50px;
	background-color: #F2F2F2;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: white;
	position: relative;
}

.height-btn {
	height: 50px;
}

.m-profile {
	display: block;
	width: 100%;
	height: 180px;
	background-image: url(../../images/wallet/profile-bg.png);
	background-color: #f1f5fa;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.m-avatar {
	padding-top: 23px;
	padding-bottom: 5px;
	text-align: center;
}

.m-avatar img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;
}

.m-username {
	text-align: center;
	font-size: 20px;
	dislay: tab-cell;
	vertical-align: middle;
}

.m-username .m-nick {
	vertical-align: middle;
	color: #FFFFFF;
}

.m-username .m-nick-success {
	vertical-align: middle;
	color: #ffffff;
}

.m-profile-success {
	display: block;
	width: 100%;
	height: 180px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #FFFFFF;
}

.m-profile-card {
	display: block;
	width: 100%;
	height: 120px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.logout-btn {
	margin-top: 3em;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.logout-btn button {
	border-radius: 30px;
	font-size: 18px;
}

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 31px;
	color: #000;
	background-color: #efeff4;
	-webkit-overflow-scrolling: touch;
}

.mui-segmented-control .mui-control-item {
	line-height: 38px;
	display: table-cell;
	overflow: hidden;
	width: 1%;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #FFFFFF;
	border-color: #ffffff;
	border-left: 0px solid #FFFFFF;
	background-color: rgba(255, 255, 255, 0);
}

.mui-segmented-control .mui-control-item.mui-active {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0);
	border-bottom: 5px solid #ffffff;
}

.mui-segmented-control {
	font-size: 15px;
	font-weight: 400;
	position: relative;
	display: table;
	overflow: hidden;
	width: 100%;
	table-layout: fixed;
	border: 0px solid #FFFFFF;
	border-radius: 3px;
	background-color: transparent;
	-webkit-touch-callout: none;
}

.pc-banner {
	width: 100%;
	float: left;
}

.bar-buying {
	background-image: url(../../images/index/navbar/buying.png);
	height: 35px;
	width: 35px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.bar-buying-active {
	background-image: url(../../images/index/navbar/buying-active.png);
	height: 35px;
	width: 35px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.bar-taking {
	background-image: url(../../images/index/navbar/taking.png);
	height: 35px;
	width: 35px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.bar-taking-active {
	background-image: url(../../images/index/navbar/taking-active.png);
	height: 35px;
	width: 35px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.bar-add {
	background-repeat: no-repeat;
	bottom: -5px;
	z-index: 1000;
	position: absolute;
	left: 50%;
	right: 50%;
	width: 70px;
}

.bar-add img {
	position: relative;
	width: 70px;
	height: 70px;
	transform: translate(-50%, 0);
}

.bar-circle {
	background-image: url(../../images/index/navbar/circle.png);
	height: 35px;
	width: 35px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.bar-circle-active {
	background-image: url(../../images/index/navbar/circle-active.png);
	height: 35px;
	width: 35px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.bar-me {
	background-image: url(../../images/index/navbar/me.png);
	height: 35px;
	width: 35px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.bar-me-active {
	background-image: url(../../images/index/navbar/me-active.png);
	height: 35px;
	width: 35px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.mui-bar-tab .mui-tab-item .mui-icon-add {
	top: 15px;
	width: 40px;
	height: 40px;
}

.mui-bar-tab .mui-tab-item .mui-icon {
	top: 10px;
	width: 35px;
	height: 35px;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: #f76149;
}

.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
	font-size: 14px;
}

.swiper-container {
	width: 100%;
	margin: 35px 0;
	margin-top: 10px;
}

.swiper-slide {
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.swiper-slide-active,
.swiper-slide-duplicate-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

.swiper-slide a {
	background: #fff;
	/*padding: 10px;*/
	display: block;
	border-radius: 14px;
}

.swiper-slide-active a:after {
	background: none;
}

.swiper-slide img {
	width: 100%;
	border-radius: 14px;
	display: block;
}

.swiper-pagination {
	position: relative;
	margin-bottom: 30px;
}

.swiper-pagination-bullet {
	background: #00a0e9;
	margin-left: 4px;
	margin-right: 4px;
	width: 17px;
	height: 17px;
	opacity: 1;
	margin-bottom: 4px;
}

.swiper-pagination-bullet-active {
	width: 13px;
	height: 13px;
	background: #FFF;
	border: 6px solid #00a0e9;
	margin-bottom: 0;
}

.button {
	width: 1000px;
	margin: 0 auto;
	bottom: 43px;
	position: relative;
}

.button div:hover {
	background-color: #2f4798;
}

.swiper-button-prev {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l4.2%2C4.2L8.4%2C22l17.8%2C17.8L22%2C44L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #00a0e9 center 50%/50% 50% no-repeat;
}

.swiper-button-next {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L5%2C44l-4.2-4.2L18.6%2C22L0.8%2C4.2L5%2C0z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") #00a0e9 center 50%/50% 50% no-repeat;
}

.gradient-bg {
	background: -webkit-linear-gradient(right, #ef5350, #ff6e42);
	background: -o-linear-gradient(right, #ef5350, #ff6e42);
	background: -moz-linear-gradient(right, #ef5350, #ff6e42);
	background: -mos-linear-gradient(right, #ef5350, #ff6e42);
	background: linear-gradient(right, #ef5350, #ff6e42);
}

.mui-btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	border: 0px solid #FFFFFF;
}

.mui-bar-nav .mui-title {
	color: white;
}

.mui-bar-nav a {
	color: white;
}

.top-header {
	margin-top: 44px;
}

.gradient-send {
	background: -webkit-linear-gradient(left, #ef5350, #ff6e42);
	background: -o-linear-gradient(left, #ef5350, #ff6e42);
	background: -moz-linear-gradient(left, #ef5350, #ff6e42);
	background: -mos-linear-gradient(left, #ef5350, #ff6e42);
	background: linear-gradient(left, #ef5350, #ff6e42);
	color: #ffffff;
	padding: 3px;
	border-radius: 30px;
	padding-bottom: 1px;
	margin-bottom: 2px;
	width: 50px;
	text-align: center;
}

.cash-btn {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.cash-btn button {
	width: 100%;
	border-radius: 30px;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 1.72;
	margin-top: 20px;
}

.mui-bar {
	box-shadow: 0 0 0px rgba(0, 0, 0, .85);
}

.mui-bar-tab {
	height: 43px;
}

.mui-title img {
	width: 40px;
	height: 40px;
	margin-top: 2px;
}

.message {
	background-image: url(../../images/index/message.png);
	height: 25px;
	width: 25px;
	text-align: center;
	float: right;
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 7px;
	margin-right: 10px;
}

.push-div {
	position: absolute;
	bottom: 200px;
	width: 100%;
}

.push-div .left-btn {
	width: 50%;
	float: left;
	text-align: center;
}

.push-div .right-btn {
	width: 50%;
	float: left;
	text-align: center;
}

.push-bottom-div {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.push-bottom-div .bottom-div {
	width: 100%;
	text-align: center;
}

.userInfo {
	height: 80px;
	width: 100%;
	margin-top: 10px;
}

.vertical-base {
	display: table;
	width: 100%;
}

.vertical-inner {
	display: table-cell;
	vertical-align: middle;
}

.vertical-bottom {}

.order-bar {
	width: 100%;
	height: 10px;
	background-image: url(../../images/order/bar.png);
}

.order-detail {
	width: 100%;
}

.order-info {
	margin-top: 10px;
}

.price {
	height: 50px;
	width: 100%;
}

.order-title {
	height: 100px;
	width: 100%;
}

.card-title {
	color: #c3c3c3;
	margin: 0px 10px;
}

.card-line {
	height: 1px;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #F7F7F7;
}

.mui-row-place {
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
}

.mui-row-inner {
	text-align: center;
	color: gray;
}

.mui-row-weight {
	color: gray;
}

.place span {
	font-size: 25px;
}

.green-circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #00b868;
}

.cancle-btn {
	background-color: #FFFFFF;
	color: #df3e3e;
	border: 2px solid #df3e3e;
	box-sizing: border-box;
}

.confirm-btn {
	background-color: #df3e3e;
	color: #FFFFFF;
	border: 2px solid #df3e3e;
	box-sizing: border-box;
}

.mui-card {
	box-shadow: none;
}

.list-place-left {
	font-size: 20px;
}

.list-left {
	float: left;
	margin-left: 10px;
}

.list-place-right {
	float: right;
	margin-right: 10px;
	font-size: 20px;
}

.list-right {
	float: right;
	margin-right: 10px;
}

.icon-img {
	height: 18px;
	width: 18px;
}

.icon-name {
	font-size: 18px;
}

.mui-table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #f2f2f2;
}

.mui-table-view:before {
	position: absolute;
	right: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #ffffff;
	top: -1px;
}