<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui/mui.min.css" />
		<title>首页</title>
		<link rel="stylesheet" href="../../css/swiper/swiper.min.css">
		<link rel="stylesheet" href="../../css/base/base.css">
	</head>
	<style>
		.list {
			margin-top: 0px;
		}
		
		.mui-card {
			border-radius: 7px;
		}
		
		.mui-row-place {
			text-align: center;
			font-size: 18px;
			margin-top: 5px;
		}
		
		.mui-row-inner {
			text-align: center;
			color: gray;
		}
		
		.mui-row-weight {
			color: gray;
		}
	</style>

	<body>

		<header class="mui-bar mui-bar-nav aui-header gradient">
			<h1 class="mui-title">首页</h1>
		</header>
		<!-- Swiper -->
		<div id="takingContainer" class="mui-content mui-scroll-wrapper">
			<section class="pc-banner">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide-center none-effect">
							<a href="#"><img src="../../images/banner/top_hero_conc_2017.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img src="../../images/banner/top_hero_cs_2017.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img src="../../images/banner/top_hero_cw_im17.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img src="../../images/banner/top_hero_hakko.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img src="../../images/banner/top_hero_karadacalpis_im02.jpg"></a>
						</div>
					</div>
				</div>
			</section>
			<div class="mui-scroll" style="margin-top: 150px;">
				<div id="takingList" class="list">
				</div>
			</div>
			<nav class="mui-bar mui-bar-tab" style="	background-color: #FFFFFF;">
				<a class="mui-tab-item mui-active" href="#tabbar">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">求带</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-chat">
					<span class="mui-icon mui-icon-email"></span>
					<span class="mui-tab-label">帮带</span>
				</a>
				<a class="mui-tab-item" href="views/goods/goodsList.html">
					<span class="mui-icon mui-icon-contact"></span>
					<span class="mui-tab-label">发布</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-map">
					<span class="mui-icon mui-icon-gear"></span>
					<span class="mui-tab-label">熊圈</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-map">
					<span class="mui-icon mui-icon-gear"></span>
					<span class="mui-tab-label">我的</span>
				</a>
			</nav>
			<div class="mui-backdrop" id="push" hidden="hidden">
				<div class="push-div">
					<div class="left-btn">
						<img src="../../images/index/navbar/buying-push.png" id="pushBuyingBtn" />
						<div>发布求带</div>
					</div>
					<div class="right-btn">
						<img src="../../images/index/navbar/taking-push.png" id="pushTakingBtn" />
						<div>发布帮带</div>
					</div>
				</div>
				<div class="push-bottom-div">
					<div class="bottom-div">
						<img src="../../images/index/navbar/close.png" id="closeBtn" />
					</div>
				</div>
			</div>
		</div>

		<script src="../../js/swiper/swiper.min.js"></script>
		<script src="../../js/mui/mui.min.js"></script>
		<script src="../../js/jquery/jquery-2.1.1.min.js"></script>
		<script src="../../js/common/common.js"></script>
		<script src="takingList.js"></script>
		<!-- Initialize Swiper -->
		<script>
			window.onload = function() {
				var swiper = new Swiper('.swiper-container', {
					autoplay: 4000,
					speed: 1000,
					autoplayDisableOnInteraction: false,
					loop: true,
					centeredSlides: true,
					slidesPerView: 1.5,
					pagination: '.swiper-pagination',
					paginationClickable: true,
					prevButton: '.swiper-button-prev',
					nextButton: '.swiper-button-next',
					onInit: function(swiper) {
						swiper.slides[1].className = "swiper-slide swiper-slide-active"; //第一次打开不要动画
					},
					breakpoints: {
						1000: {
							slidesPerView: 1.5,
						}
					}
				});
			}
		</script>
	</body>

</html>