<div class="mui-card">
	<div class="mui-card-content">
		<div class="mui-row mui-row-place">
			<div class="mui-col-xs-5">
				<div class="list-place-left"><span id="departureCity"></span><span>-</span><span id="departureCountry"></span></div>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/buying/plane.png" style="width: 60px; height: 30px;" />
			</div>
			<div class="mui-col-xs-5">
				<div class="list-place-right"><span id="arrivalCity"></span><span>-</span><span id="arrivalCountry"></span></div>
			</div>
		</div>
		<div class="mui-row mui-row-inner">
			<div class="mui-col-xs-5">
				<div class=" list-left">
					<img src="../../images/buying/date.png" class="icon-img" />
					<span id="departureDate"></span>启程
				</div>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/icon/ticket-check.png" style="width: 40px; height: 20px;margin-top: 5px;" />
			</div>
			<div class="mui-col-xs-5" style="color: red;font-size: 28px;">
				<div class="list-right">
					<span>¥<span id="price"></span></span>
				</div>
			</div>
		</div>
	</div>
</div>