<div class="mui-card">
	<div class="mui-card-content">
		<div class="mui-row mui-row-place">
			<div class="mui-col-xs-5">
				<div><span id="departureCity"></span><span>-</span><span id="departureCountry"></span></div>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/buying/plane.png" style="width: 40px; height: 20px;margin-top: 5px;" />
			</div>
			<div class="mui-col-xs-5">
				<div><span id="arrivalCity"></span><span>-</span><span id="arrivalCountry"></span></div>
			</div>
		</div>
		<div class="mui-row mui-row-inner">
			<div class="mui-col-xs-5">
				<img src="../../images/buying/date.png" style="width: 20px; height: 20px;margin-top: 5px;" /> <span id="departureDate"></span>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/icon/ticket-check.png" style="width: 40px; height: 20px;margin-top: 5px;" />
			</div>
			<div class="mui-col-xs-5">
				<img src="../../images/buying/date.png" style="width: 20px; height: 20px;margin-top: 5px;" /> <span id="arrivalDate"></span>
			</div>
		</div>
	</div>
</div>