<div class="mui-card">
	<div class="mui-card-content">
		<div class="mui-row mui-row-place">
			<div class="mui-col-xs-5">
				<div>大连 - 中国</div>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/circle/pic.jpeg" style="width: 40px; height: 20px;margin-top: 5px;" />
			</div>
			<div class="mui-col-xs-5">
				<div>上海 - 中国</div>
			</div>
		</div>
		<div class="mui-row mui-row-inner">
			<div class="mui-col-xs-5">
				<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> 2018-02-02
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/circle/pic.jpeg" style="width: 40px; height: 20px;margin-top: 5px;" />
			</div>
			<div class="mui-col-xs-5">
				<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> 2018-02-02
			</div>
		</div>
	</div>
</div>