<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui/mui.min.css" />
		<title>首页</title>
		<link rel="stylesheet" href="../../css/swiper/swiper.min.css">
		<link rel="stylesheet" href="../../css/base/base.css">
	</head>
	<style>
		.list {
			margin-top: 0px;
		}
		
		.mui-card {
			border-radius: 7px;
		}
		
		.mui-row-place {
			text-align: center;
			font-size: 18px;
			margin-top: 5px;
		}
		
		.mui-row-inner {
			text-align: center;
			color: gray;
		}
		
		.mui-row-weight {
			color: gray;
		}
	</style>

	<body>

		<header class="mui-bar mui-bar-nav aui-header gradient">
			<h1 class="mui-title">首页</h1>
		</header>
		<!-- Swiper -->
		<div class="mui-content">
			<section class="pc-banner">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide-center none-effect">
							<a href="#"><img src="../../images/banner/top_hero_conc_2017.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img src="../../images/banner/top_hero_cs_2017.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img src="../../images/banner/top_hero_cw_im17.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img src="../../images/banner/top_hero_hakko.jpg"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img src="../../images/banner/top_hero_karadacalpis_im02.jpg"></a>
						</div>
					</div>
				</div>
				<div id="buyingList" class="list">
					<div class="mui-card">
						<div class="mui-card-content">
							<div class="mui-row mui-row-place">
								<div class="mui-col-xs-5">
									<div>大连 - 中国</div>
								</div>
								<div class="mui-col-xs-2" style="vertical-align: middle;">
									<img src="../../images/circle/pic.jpeg" style="width: 40px; height: 20px;margin-top: 5px;" />
								</div>
								<div class="mui-col-xs-5">
									<div>上海 - 中国</div>
								</div>
							</div>
							<div class="mui-row mui-row-inner">
								<div class="mui-col-xs-5">
									<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> 2018-02-02
								</div>
								<div class="mui-col-xs-2" style="vertical-align: middle;">
									<img src="../../images/circle/pic.jpeg" style="width: 40px; height: 20px;margin-top: 5px;" />
								</div>
								<div class="mui-col-xs-5">
									<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> 2018-02-02
								</div>
							</div>
							<div class="mui-row mui-row-inner">
								<div class="mui-col-xs-4">
									<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> 5KG
								</div>
								<div class="mui-col-xs-4">
									<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> 5KG
								</div>
								<div class="mui-col-xs-4">
									<span>$100元</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<nav class="mui-bar mui-bar-tab" style="	background-color: #FFFFFF;">
				<a class="mui-tab-item mui-active" href="#tabbar">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">求带</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-chat">
					<span class="mui-icon mui-icon-email"></span>
					<span class="mui-tab-label">帮带</span>
				</a>
				<a class="mui-tab-item" href="views/goods/goodsList.html">
					<span class="mui-icon mui-icon-contact"></span>
					<span class="mui-tab-label">发布</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-map">
					<span class="mui-icon mui-icon-gear"></span>
					<span class="mui-tab-label">熊圈</span>
				</a>
				<a class="mui-tab-item" href="#tabbar-with-map">
					<span class="mui-icon mui-icon-gear"></span>
					<span class="mui-tab-label">我的</span>
				</a>
			</nav>
		</div>

		<script src="../../js/swiper/swiper.min.js"></script>
		<script src="../../js/mui/mui.min.js"></script>
		<!-- Initialize Swiper -->
		<script>
			window.onload = function() {
				var swiper = new Swiper('.swiper-container', {
					autoplay: 4000,
					speed: 1000,
					autoplayDisableOnInteraction: false,
					loop: true,
					centeredSlides: true,
					slidesPerView: 1.5,
					pagination: '.swiper-pagination',
					paginationClickable: true,
					prevButton: '.swiper-button-prev',
					nextButton: '.swiper-button-next',
					onInit: function(swiper) {
						swiper.slides[1].className = "swiper-slide swiper-slide-active"; //第一次打开不要动画
					},
					breakpoints: {
						1000: {
							slidesPerView: 1.5,
						}
					}
				});
			}
		</script>
	</body>

</html>