<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui/mui.min.css" />
		<title>环球易带</title>
		<link rel="stylesheet" href="../../css/swiper/swiper.min.css">
		<link rel="stylesheet" href="../../css/base/base.css">
	</head>
	<style>
		.list {
			margin-top: 0px;
		}
		
		.mui-card {
			border-radius: 7px;
		}
		
		#push {
			position: fixed;
			z-index: 1001;
			top: 200px;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 1);
		}
	</style>

	<body>

		<header class="mui-bar mui-bar-nav aui-header gradient">
			<h1 class="mui-title"><img src="../../images/icon/logo.png"/></h1>
			<div class="message" id="showMessge">
			</div>
		</header>
		<!-- Swiper -->
		<div id="buyingContainer" class=" mui-content mui-scroll-wrapper">
			<!--<section class="pc-banner">
				<div class="swiper-container">
					<div class="swiper-wrapper"  >
						<div class="swiper-slide swiper-slide-center none-effect">
							<a href="#"><img id="firstBanner" style="height: 180px;"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img id="secondBanner"  style="height: 180px;"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img id="thirdBanner"  style="height: 180px;"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img id="forthBanner"  style="height: 180px;"></a>
						</div>
						<div class="swiper-slide">
							<a href="#"><img id="fifthBanner"  style="height: 180px;"></a>
						</div>
					</div>
				</div>
			</section>-->

			<div class="mui-scroll" style="margin-top: 200px;">
				<div id="buyingList" class="list" style="margin-bottom: 250px;">
				</div>
			</div>
		</div>

		<div class="bar-add" id="showAddBtnBuying"><img src="../../images/index/navbar/push.png" onclick="buyingList.service.showPush()" /></div>
		<nav class="mui-bar mui-bar-tab" style="	background-color: #FFFFFF;">
			<a class="mui-tab-item mui-active" id="buyingNav">
				<span class="mui-icon"><div class="bar-buying-active"></div></span>
				<span class="mui-tab-label">求带</span>
			</a>
			<a class="mui-tab-item" id="takingNav">
				<span class="mui-icon"><div class="bar-taking"></div></span>
				<span class="mui-tab-label">帮带</span>
			</a>
			<a class="mui-tab-item">
				<span class="mui-icon"></span>
			</a>
			<a class="mui-tab-item" id="circleNav">
				<span class="mui-icon"><div class="bar-circle"></div></span>
				<span class="mui-tab-label">熊圈</span>
			</a>
			<a class="mui-tab-item" id="mineNav">
				<span class="mui-icon"><div class="bar-me"></div></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<div class="mui-backdrop" id="push" hidden="hidden">
			<div class="push-div">
				<div class="left-btn" id="pushBuyingBtn">
					<img src="../../images/index/navbar/buying-push.png" />
					<div>发布求带</div>
				</div>
				<div class="right-btn" id="pushTakingBtn">
					<img src="../../images/index/navbar/taking-push.png" />
					<div>发布帮带</div>
				</div>
			</div>
			<div class="push-bottom-div">
				<div class="bottom-div" id="closeBtn">
					<img src="../../images/index/navbar/close.png" />
				</div>
			</div>
		</div>

		<script src="../../js/swiper/swiper.min.js"></script>
		<script src="../../js/mui/mui.min.js"></script>
		<script src="../../js/jquery/jquery-2.1.1.min.js"></script>
		<script src="../../js/common/common.js"></script>
		<script src="../common/common.js"></script>
		<script src="buyingList.js"></script>
		<!-- Initialize Swiper -->
		<script>
			window.onload = function() {
				var swiper = new Swiper('.swiper-container', {
					autoplay: 4000,
					speed: 1000,
					autoplayDisableOnInteraction: false,
					loop: true,
					centeredSlides: true,
					slidesPerView: 1.2,
					pagination: '.swiper-pagination',
					paginationClickable: true,
					prevButton: '.swiper-button-prev',
					nextButton: '.swiper-button-next',
					spaceBetween: 20,
					onInit: function(swiper) {
						swiper.slides[1].className = "swiper-slide swiper-slide-active"; //第一次打开不要动画
					},
					breakpoints: {
						1000: {
							slidesPerView: 1.2,
						}
					}
				});
			}
		</script>
	</body>

</html>