<div class="mui-card">
	<div class="mui-card-content">
		<div class="mui-row mui-row-place">
			<div class="mui-col-xs-5 place">
				<span id="departureProvince"></span><span>-<span><span id="departureCountry"></span>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/buying/plane.png" />
			</div>
			<div class="mui-col-xs-5 place">
				<span id="arrivalProvince"></span><span>-<span><span id="arrivalCountry">中国</span>
			</div>
		</div>
		<div class="mui-row mui-row-inner">
			<div class="mui-col-xs-5">
				<img src="../../images/buying/date.png" style="margin-top: 5px;" />
				<span id="deadline"></span><span>截至</span>
			</div>

		</div>
		<div class="mui-row mui-row-inner">
			<div class="mui-col-xs-4">
				<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /> KG
			</div>
			<div class="mui-col-xs-4">
				<img src="../../images/circle/pic.jpeg" style="width: 20px; height: 20px;margin-top: 5px;" /><span id="weight"></span> KG
			</div>
			<div class="mui-col-xs-4">
				<span>$<span id="price"></span></span>
			</div>
		</div>
	</div>
</div>