<div class="mui-card">
	<div class="mui-card-content">
		<div class="mui-row mui-row-place">
			<div class="mui-col-xs-5 ">
				<div class="list-place-left">
					<span id="departureCity"></span>
					<span>-</span>
					<span id="departureCountry"> </span>
				</div>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/buying/plane.png" style="width: 60px; height: 30px;" />
			</div>
			<div class="mui-col-xs-5">
				<div class="list-place-right">
					<span id="arrivalCity"></span>
					<span>-</span>
					<span id="arrivalCountry"></span>
				</div>
			</div>
		</div>
		<div class="mui-row mui-row-inner">
			<div class="mui-col-xs-12">
				<div class=" list-left">
					<img src="../../images/buying/date.png" class="icon-img" />
					<span id="deadline" class="icon-name"></span>
					<span class="icon-name">截止</span>
				</div>
			</div>
		</div>
		<div class="mui-row mui-row-inner">
			<div class="mui-col-xs-4">
				<div class="list-left">
					<img src="../../images/icon/weight.png" class="icon-img" />
					<span id="mateType" class="icon-name"></span> 
				</div>
			</div>
			<div class="mui-col-xs-4 icon-name">
				<div style="display: inline;">
					<img src="../../images/icon/weight.png" class="icon-img" />
				</div>
				<div style="display: inline;"><span id="weight"></span> <span>KG</span></div>
			</div>
			<div class="mui-col-xs-4" style="color: red;font-size: 28px;">
				<div class="list-right">
					<span>$<span id="price"></span></span>
				</div>
			</div>
		</div>
	</div>
</div>