<div class="mui-card">
	<div class="mui-card-header">
		<div>
			<img src="../../images/circle/circle.png" width="20px" height="20px" /> <span id="userName"></span>
		</div>
		<span class="span-price">¥<span id="price">10</span>/KG</span>
	</div>
	<div class="mui-card-content">
		<div class="mui-row mui-row-place">
			<div class="mui-col-xs-5">
				<div class="list-place-left">
					<span id="departureCity"></span> -
					<span id="departureCountry"></span>
				</div>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				<img src="../../images/buying/plane.png" style="width: 60px; height: 30px;" />
			</div>
			<div class="mui-col-xs-5">
				<div class="list-place-right">
					<span id="arrivalCity">
					</span> -
					<span id="arrivalCountry"></span>
				</div>
			</div>
		</div>
		<div class="mui-row mui-row-inner">
			<div class="mui-col-xs-5">
				<div class=" list-left">
					<img src="../../images/buying/date.png" class="icon-img" />
					<span id="departureDate" class="icon-name"></span>
				</div>
			</div>
			<div class="mui-col-xs-2" style="vertical-align: middle;">
				&nbsp;
			</div>
			<div class="mui-col-xs-5">
				<div class=" list-right">
					<img src="../../images/buying/date.png" class="icon-img" />
					<span id="arrivalDate" class="icon-name"></span>
				</div>
			</div>
		</div>
		<div class="mui-row ">
			<div class="mui-col-xs-5">
				<div class="list-left">
					<img src="../../images/icon/weight.png" class="icon-img" />
					<span id="weight" class="icon-name"></span>KG
				</div>
			</div>
			<div class="mui-col-xs-5">
				<div class="list-left">
					<img src="../../images/icon/weight.png" class="icon-img" />
					<span id="mateType" class="icon-name"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="mui-card-footer">
		<div style="width: 100%;">
			<button type=" button " class="mui-btn mui-btn-warning mui-pull-right gradient-bg" id="orderBbtn" >下&nbsp;&nbsp;&nbsp;&nbsp;单</button>
			<button type="button" class="mui-btn mui-btn-warning mui-pull-right gradient-bg" id="messageBtn" style="margin-right: 10px;">发消息</button>
		</div>
	</div>
</div>