<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui/mui.min.css">
		<link rel="stylesheet" href="../../css/base/base.css">
		<title>xxxxx</title>
		<style>
			body {
				font-family: 'Helvetica Neue', Helvetica, sans-serif;
				font-size: 18px;
				line-height: 31px;
				color: #000;
				background-color: #efeff4;
				-webkit-overflow-scrolling: touch;
			}
			
			.mui-card {
				border-radius: 20px;
				background-color: orange;
				color: #FFFFFF;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav aui-header b-line gradient">
			<a class="mui-action-back mui-icon mui-icon-back mui-pull-left"></a>
			<h1 class="mui-title">系统消息</h1>
		</header>

		<body>
			<div class="mui-content">
				<div class="mui-card">
					<div class="mui-card-content">
						<div class="mui-row">
							<div class="mui-col-xs-9">
								<p>您有新的消息发布请您及时查看</p>
								<p>您有新的消息发布请您及时查看</p>
								<p>您有新的消息发布请您及时查看</p>
								<p>您有新的消息发布请您及时查看</p>
								<p>您有新的消息发布请您及时查看</p>
								
							</div>
							<div class="mui-col-xs-3" style="text-align: center;vertical-align: middle;">
								<img src="../../images/circle/circle.png" style="width: 60px;height: 60px; vertical-align: middle;" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<script src="center.js"></script>
		</body>
</html>